# Thanks to: https://gist.github.com/jdbartlett/444295
 
# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/
!wp-content/plugins/akismet
!wp-content/plugins/cf-post-formats
!wp-content/plugins/appthemer-crowdfunding
!wp-content/plugins/contact-form-7
!wp-content/plugins/revslider
!wp-content/plugins/sd-shortcodes
!wp-content/plugins/wordpress-importer
!wp-content/plugins/sd-events
!wp-content/plugins/easy-digital-downloads
!wp-content/plugins/wp-sync-db-1.5
!wp-content/plugins/really-simple-captcha
 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/charity/
